<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Callalyze.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <remove fileExtension=".3gp" />
        <mimeMap fileExtension=".3gp" mimeType="audio/3gpp" />
        <remove fileExtension=".3gpp" />
        <mimeMap fileExtension=".3gpp" mimeType="audio/3gpp" />
        <remove fileExtension=".amr" />
        <mimeMap fileExtension=".amr" mimeType="audio/amr" />
        <remove fileExtension=".m4a" />
        <mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
        <remove fileExtension=".mp3" />
        <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
        <remove fileExtension=".wav" />
        <mimeMap fileExtension=".wav" mimeType="audio/wav" />
        <remove fileExtension=".ogg" />
        <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
